<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginA"
        tools:targetApi="31">

        <!-- Declaración de MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaración de LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA" />

        <!-- Declaración de RegisterActivity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA" />

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />

        <activity android:name=".ProfileActivity" />
        <activity android:name=".PersonalInfoActivity" />
        <activity android:name=".CallActivity" />
        <activity android:name=".SkillsActivity" />

        <activity
            android:name=".DelegadoActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />

        <activity
            android:name=".ConvocatoriaActivity"
            android:theme="@style/Theme.LoginA.NoActionBar" />
        <activity android:name=".RecursosActivity" />
        <activity android:name=".CentrosEducativosActivity" />
        <activity android:name=".DelegacionesActivity" />
        <activity
            android:name=".PerfilActivity"
            android:theme="@style/Theme.LoginA.NoActionBar" />
        <activity android:name=".RegistroConvocatoriaActivity"
            android:theme="@style/Theme.LoginA.NoActionBar"/>






    </application>

</manifest>
