<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginA"
        tools:targetApi="31">

        <!-- Declaración de MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaración de LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA" />

        <!-- Declaración de RegisterActivity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA" />

        <activity
            android:name=".Usuario.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />

        <activity android:name=".Usuario.ProfileActivity" />
        <activity android:name=".Usuario.PersonalInfoActivity" />
        <activity android:name=".Usuario.CallActivity" />
        <activity android:name=".Usuario.SkillsActivity" />

        <activity
            android:name=".DelegadoEstatal.DelegadoActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />

        <activity
            android:name=".DelegadoEstatal.ConvocatoriaActivity"
            android:theme="@style/Theme.LoginA.NoActionBar" />
        <activity android:name=".DelegadoEstatal.RecursosActivity" />
        <activity android:name=".DelegadoEstatal.CentrosEducativosActivity" />
        <activity android:name=".DelegadoEstatal.DelegacionesActivity" />
        <activity
            android:name=".Global.PerfilActivity"
            android:theme="@style/Theme.LoginA.NoActionBar" />
        <activity android:name=".RegistroConvocatoriaActivity"
            android:theme="@style/Theme.LoginA.NoActionBar"/>
        <activity
            android:name=".CordinadorZona.CoordinadorActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />
        <activity
            android:name=".CordinadorZona.CandidatosActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />

        <activity
            android:name=".SupervisorModulo.SupervisorActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />
        <activity
            android:name=".SupervisorModulo.SupervisionActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />
        <activity
            android:name=".SupervisorModulo.ReportesActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />
        <activity
            android:name=".SupervisorModulo.CapacitacionActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />
        <activity
            android:name=".Aspirantes.PantallaInicioBecario"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />
        <activity
            android:name=".Aspirantes.BecarioStatusActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />
        <activity
            android:name=".Aspirantes.PostularseActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />
        <activity
            android:name=".Global.EditarPerfilActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />



        <activity
            android:name=".AdministradorSistema.DeleteUserActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />
        <activity
            android:name=".AdministradorSistema.AdminActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />
        <activity
            android:name=".AdministradorSistema.AddUserActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />
        <activity
            android:name=".AdministradorSistema.ModifyUserActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginA.NoActionBar" />








    </application>

</manifest>
